* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    width: 100vw;
}

.left {
    background-image: 
        linear-gradient(
            rgba(132, 87, 4, 0.5), 
            rgba(132, 87, 4, 0.5)
        ),
        url('content/corleto-peanut-butter-u256GzFi7Gw-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    width: 50%;
    height: 100vh;
    margin: 0;
    background-color: aquamarine;
    transition: width 0.8s ease;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right {
    background-image: 
        linear-gradient(
            rgba(112, 6, 75, 0.4), 
            rgba(112, 6, 75, 0.4)
        ),
        url('content/micheile-henderson-SWyfzICySco-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    width: 50%;
    height: 100vh;
    margin: 0;
    background-color: grey;
    transition: width 0.8s ease;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
}

p, a {
    color: #e6e4e4;
    opacity: 0.8;
}

button {
    border: solid white;
    cursor: pointer;
    background-color: transparent;
    width: 150px;
    height: 50px;
    color: white;
    /* box-shadow: 5px 5px 5px lightgrey; */
    font-weight: bold;
}

.left > button:hover {
    background-color: rgba(132, 87, 4);
    border: rgba(132, 87, 4);
}
.right > button:hover {
    background-color: rgba(112, 6, 75);
    border: rgba(112, 6, 75);
}
