* {
    box-sizing: border-box;
}

body {
    background-color: #EFEDD6;
    overflow-y: scroll;
}

#wrapper {
    width: 500px;
    margin: auto;
    margin-bottom: 210px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    background-color: #4682B4;
    height: 200px;
    width: 400px;
    margin: 10px;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 10px;
    filter: drop-shadow(5px 5px 5px grey);
}

.off-screen-left {
    position: relative;
    left: -300%;
    transition: left 0.5s ease;
    display: hidden;
}

.show-left {
    position: relative;
    left: 0;
    transition: left 0.5s ease;
}

.off-screen-right {
    position: relative;
    right: -300%;
    transition: right 0.5s ease;
    display: hidden;
}

.show-right {
    position: relative;
    right: 0;
    transition: right 0.5s ease;
}