* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #4682B4;
    font-family: sans-serif;
}

.form {
    position: absolute;
    width: 375px;
    height: 450px;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background-color: #2A4E6C;
    color: white;

    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
/* 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

h1 {
    grid-row: 1;
    margin: auto;
    padding-top: 50px;
}

input {
    height: 50px;
    font-size: larger;
    background-color: transparent;
    border: none;
    border-bottom: solid white 2px;
    color: white;
    width: 80%;
    margin: auto;
}

input:first-of-type {
    grid-row: 2;
}

input:nth-of-type(2) {
    grid-row: 3;
}

button {
    color: black;
    font-size: large;
    border: none;
    border-radius: 5px;
    width: 80%;
    height: 70%;
    margin: auto; 
    background-color: #ADD8E6;
    grid-row: 4;
}

P {
    margin: auto;
    grid-row: 5;
}

a {
    color: #4682B4;
}


