* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    display: grid;
    grid-template-columns: 50px 9fr;
    grid-template-rows: 50px 9fr;
    gap: 0;
}

.circle {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    background-color: lightcoral;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    z-index: 0; 
}

.nav {
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 150px;
    width: 150px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    transition: transform 0.5s ease;
}

.bottom-left {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom-left svg {
    transform: rotate(45deg);
}

svg {
    stroke: white;
}

.bottom-right {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav:hover {
    transform: translate(-50%, -50%) rotate(-90deg);
}

.article {
    grid-column: 2;
    grid-row: 2;
    background-color: aquamarine;
    height: 100vh;
    width: 90vw;
    margin: auto;
    padding: 25px 10px 0px 0px;
}

.article > h3 {
    font-style: italic;
    font-size: medium;
}

.article > p {
    margin: 10px 0px 10px 0px;
}

