* {
    box-sizing: border-box;
}
body {
    background-color: #333333;
    overflow-x: hidden;
    font-family: monospace;
    color: #222;
    margin: 0;
}

.circle {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    background-color: lightcoral;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    z-index: 1; 
}

.nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 150px;
    width: 150px;
    position: fixed;
    top: 50px;
    left: 50px;
    z-index: 2;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    transition: transform 0.5s ease;
}

.bottom-left {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Turn the + into an x */
.bottom-left svg { 
    transform: rotate(45deg);
}

svg {
    stroke: white;
}

.bottom-right {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article {
    background-color: white;   
    padding-top: 100px;
    padding-bottom: 100px;
    transform-origin: 0% 0%;
    transition: transform 0.5s ease;
    position: relative;
    z-index: 0;
}

.article > * {
    max-width: 1000px;
    margin: 50px auto;
}

.content {
    width: 85%;
    margin: auto;

}

.content > h3 {
    font-style: italic;
    font-size: medium;
    padding-top: 0;
}

.content > p {
    line-height: 1.5;
}

.article > img {
    text-align: center;
    width: 100%;
}

.nav-list {
    position: fixed;
    bottom: 0;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 200px;
    transform: translate(-100%);
}

li {
    display: flex;
    color: white;
    transition: transform 0.5s ease;
    transition-delay: 0.5s;
}
