* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.image {
    background-image: url(https://picsum.photos/2000);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}